{% extends "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/base-html-layout.twig" %}

{% block content %}
    <section>
        <h1>Blog Index</h1>
        <h3>content</h3>
    </section>
{% endblock %}

{% block subcontent %}
    <section>
        <h3>subcontent</h3>
    </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
