{% extends "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/html-page.twig" %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
    <section>
        <h3>preContent</h3>
    </section>
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <section>
        <h1>Blog Index</h1>
        <h3>content</h3>
    </section>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
    <section>
        <h3>postContent</h3>
    </section>
{% endblock %}

{# -- Any <script></script> tags that should be included before </body> -- #}
{% block bodyScripts %}
    {{ parent() }}
{% endblock bodyScripts %}
